In [ ]:
#29. Use the same population data as in the previous exercise. 


import pandas as pd
df = pd.read_csv('./data/population.csv')
df = df.drop(columns = ['Unnamed: 0'])

#a) Create a new Pandas data frame where the first column is the year and other 142 columns 
# are populations of all the countries in the data


df_visu = df.pivot(index = 'year', columns = 'country',values = 'pop').reset_index().rename_axis(None,axis = 1)

# #Population in millions
# df_visu = df_visu/1000000
# df_visu['year'] =  (df_visu['year']*1000000).astype(int)

df_visu

,year,Afghanistan,Albania,Algeria,Angola,Argentina,Australia,Austria,Bahrain,Bangladesh,...,Uganda,United Kingdom,United States,Uruguay,Venezuela,Vietnam,West Bank and Gaza,"Yemen, Rep.",Zambia,Zimbabwe
0,1952,8.425333,1.282697,9.279525,4.232095,17.876956,8.691212,6.927772,0.120447,46.886859,...,5.824797,50.430000,157.553000,2.252965,5.439568,26.246839,1.030585,4.963829,2.672000,3.080907
1,1957,9.240934,1.476505,10.270856,4.561361,19.610538,9.712569,6.965860,0.138655,51.365468,...,6.675501,51.430000,171.984000,2.424959,6.702668,28.998543,1.070439,5.498090,3.016000,3.646340
2,1962,10.267083,1.728137,11.000948,4.826015,21.283783,10.794968,7.129864,0.171863,56.839289,...,7.688797,53.292000,186.538000,2.598466,8.143375,33.796140,1.133134,6.120081,3.421000,4.277736
3,1967,11.537966,1.984060,12.760499,5.247469,22.934225,11.872264,7.376998,0.202182,62.821884,...,8.900294,54.959000,198.712000,2.748579,9.709552,39.463910,1.142636,6.740785,3.900000,4.995432
4,1971,13.079460,2.263554,14.760787,5.894858,24.779799,13.177000,7.544201,0.230800,70.759295,...,10.190285,56.079000,209.896000,2.829526,11.515649,44.655014,1.089572,7.407075,4.506497,5.861135
5,1977,14.880372,2.509048,17.152804,6.162675,26.983828,14.074100,7.568430,0.297410,80.428306,...,11.457758,56.179000,220.239000,2.873520,13.503563,50.533506,1.261091,8.403990,5.216550,6.642107
6,1981,12.881816,2.780097,20.033753,7.016384,29.341374,15.184200,7.574613,0.377967,93.074406,...,12.939400,56.339704,232.187835,2.953997,15.620766,56.142181,1.425876,9.657618,6.100407,7.636524
7,1987,13.867957,3.075321,23.254956,7.874230,31.620918,16.257249,7.578903,0.454612,103.764241,...,15.283050,56.981620,242.803533,3.045153,17.910182,62.826491,1.691210,11.219340,7.272406,9.216418
8,1991,16.317921,3.326498,26.298373,8.735988,33.958947,17.481977,7.914969,0.529491,113.704579,...,18.252190,57.866349,256.894189,3.149262,20.265563,69.940728,2.104779,13.367997,8.381163,10.704340
9,1997,22.227415,3.428038,29.072015,9.875024,36.203463,18.565243,8.069876,0.598561,123.315288,...,21.210254,58.808266,272.911760,3.262838,22.374398,76.048996,2.826046,15.826497,9.417789,11.404948
10,2001,25.268405,3.508512,31.287142,10.866106,38.331121,19.546792,8.148312,0.656397,135.656790,...,24.739869,59.912431,287.675526,3.363085,24.287670,80.908147,3.389578,18.701257,10.595811,11.926563
11,2007,31.889923,3.600523,33.333216,12.420476,40.301927,20.434176,8.199783,0.708573,150.448339,...,29.170398,60.776238,301.139947,3.447496,26.084662,85.262356,4.018332,22.211743,11.746035,12.311143

In [ ]:
#b) Use streamlit and create an interactive web graph where you can select the countries to be included in the population plot

In [ ]:

#30. Bonus task Upload your Python script and data from task 29 to Git repository. 
# Test that you can create the visualization by running streamlit run <script repository>.